objects/
Listings/
*.d
*.o
*.axf
*.log

BootLoader.uvguix.tom-laptop
.vscode/settings.json
.vscode/uv4.log.lock
.vscode/uv4.log
BootLoader.uvguix.tom-laptop.bak
EventRecorderStub.scvd
JLinkLog.txt
JLinkSettings.ini
